.flip-container {
	perspective: 1000px;
	display: inline-block;
	cursor: pointer;
	padding: 5px;
}

.flipper {
	transform-origin: center right;
	transition: transform 1s;
	transform-style: preserve-3d;
	position: relative;
	&.flipped {
		transform: translateX(-100%) rotateY(-180deg);
	}
}

.front,
.back {
	backface-visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	width: 100%;
	height: 100%;
}

.front {
	transform: rotateY(180deg);
}
