.container {
	max-width: 950px;
	width: 100%;
	padding: 25px;
	text-align: center;
	margin: auto;
}

.title {
	margin-bottom: 25px;
	h1 {
		margin-bottom: 5px;
	}
	caption {
		display: block;
		font-style: italic;
		color: gray;
	}
}
